.note {
}

.note:hover {
  z-index: 5;
}

.note.--selected {
  z-index: 1;
}

.note:hover::after,
.note.--selected::after {
  z-index: -1;
  position: absolute;
  left: -2px;
  top: -2px;
  display: block;
  width: 13px;
  height: 16px;
  content: "";
  background: #ceff76;
  border: 1px solid #000;
}