.note {
  position: relative;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0 0 0 1px;
  height: 15px;
  width: 10px;
  text-align: center;
}

.note:hover {
  cursor: default;
  z-index: 5;
}

.note.--selected {
  z-index: 1;
}

.note:hover::after,
.note.--selected::after {
  z-index: -1;
  position: absolute;
  left: -2px;
  top: -2px;
  display: block;
  width: 13px;
  height: 16px;
  content: "";
  background: #ceff76;
  border: 1px solid #000;
}